* {
  margin: 0;
}

.container {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero h1 {
  margin-bottom: 20px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.data > * {
  margin: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: auto;
}
